<ad-widget>
	<ad-widget-header icon="fa fa-{{$ctrl.icon}}" title="{{$ctrl.series}}">
		<a><i class="bi bi-arrow-repeat" ng-click="$ctrl.refreshInboxFolders();" uib-tooltip="Refresh folders"></i></a>
		<i class="bi bi-zoom-{{$ctrl.zoomIcon}}" ng-click="$ctrl.zoomChart()"></i>
	</ad-widget-header>
	<ad-widget-body classes="card-graph">
		<!--		<canvas id="basketsInQueueBarChart" class="chart chart-bar"-->
		<canvas id="mailboxesQueueChart" class="chart chart-base"
		        chart-type="$ctrl.chartType"
		        chart-data="$ctrl.chartData"
		        chart-colors="$ctrl.colors"
		        chart-labels="$ctrl.chartLabels"
		        chart-series="$ctrl.chartSeries"
		        chart-click="$ctrl.onClick"
		        chart-options="$ctrl.options">
		</canvas>
	</ad-widget-body>

	<!--	<ad-widget-footer>-->
	<!--		<i class="bi bi-clock"></i>-->
	<!--		{{ $ctrl.lastCheckTime | date:'HH:mm:ss' }}-->
	<!--	</ad-widget-footer>-->
	<!--	<ad-widget-footer>-->
	<!--		<div>-->
	<!--			<i class="bi bi-clock"></i>-->
	<!--			{{$ctrl.lastCheckTime | date:'HH:mm:ss'}}-->
	<!--		</div>-->
	<!--		<div class="float-right">-->
	<!--			<a><i class="bi bi-arrow-repeat" ng-click="$ctrl.refreshInboxFolders();" uib-tooltip="Refresh folders"></i></a>-->
	<!--		</div>-->
	<!--	</ad-widget-footer>-->
</ad-widget>


