<div class="row">
	<div class="col-lg-6">
		<ad-widget>
			<ad-widget-header icon="fa fa-user" title="Logged Users">
			</ad-widget-header>
			<!--<ad-widget-body>-->
			<!--<div ui-grid="{ data: $ctrl.data }" ui-grid-auto-resize ui-grid-resize-columns  ui-grid-one-bind-html="username"></div>-->
			<!--</ad-widget-body>-->


			<table class="table table-hover results">
				<thead>
				<tr ng-show="($ctrl.data | filter:$ctrl.search).length != 0">
					<th>
						Username
					</th>
					<th class="col-md-2 col-xs-1">
						Name
					</th>
					<th class="col-md-3 col-xs-3">
						Workstation
					</th>
					<th class="col-md-5 col-xs-2s">
						Role
					</th>
					<th class="col-md-2 col-xs-2s">Last Check</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="server in $ctrl.data">
					<td><img src="http://phonebook:1440/employees/photo?user={{server.username}}" width="100px" height="100px"/> {{server.username}}</td>
					<td> {{ server.name }} </td>
					<td> {{ server.workstation }} </td>
					<td> {{ server.role }}</td>
					<td> {{ server.lastUpdatedDate | date:'HH:mm:ss' }}</td>
				</tr>
				</tbody>
			</table>
		</ad-widget>
	</div>
</div>

