<div class="row">
	<div class="col-lg-6">
		<div class="alert alert-info" role="alert">
			<ul>
				<li>
					Templates
					<a href="http://distribution5:8580/webservices/twilio/templates" target="_blank">PROD</a>
					<a href="http://pbbatch:8580/webservices/twilio/templates" target="_blank">QA</a>
				</li>
				<li>
					Contents &nbsp;
					<a href="http://distribution5:8580/webservices/twilio/contents" target="_blank">PROD</a>
					<a href="http://pbbatch:8580/webservices/twilio/contents" target="_blank">QA</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<iframe height="336" width="480" frameborder="0"
		        src="http://searcher:8000/en-US/embed?s=%2FservicesNS%2Fvladimir%2Fidi%2Fsaved%2Fsearches%2Fwa-delivery-piechart&oid=XaQv%5Em4jQnNNI1fgIlZ4Gl91uwDGpiXadRlBtD%5Ecw51IVROoTpYqU3N_v64TzrX9fO5p2OeOBpQUWpfcwV6SXGHgQEpQwVLh778NypFhh2NTniZ9PnwZorSFEDxBwIjP5L%5E6RVInzl5sf2Xjxo7c3uNBxC"></iframe>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<iframe height="636" width="100%" frameborder="0"
		        src="http://searcher:8000/en-US/embed?s=%2FservicesNS%2Fnobody%2Fidi%2Fsaved%2Fsearches%2FWhatsApp%2520delivery%2520status&oid=QIGLjSC3yvmnNLbx9Vu4JmgQhx0m5r3FvTD8WyFeAp_YJCmnLKe%5EFgXwjLqxn1bnPXOlkn08fjC9dm0oAAeoGZWNllJoqTB3Te_gaXWzl_gMIoZSRnTEqmAeTXVY%5EWrW%5E3RdkJTqg3JyLfL9ILk8Q7m_wZbBnF"></iframe>
	</div>
</div>













