<div class="row">
	<div class="col-lg-12">
		<uib-accordion close-others="$ctrl.oneAtATime">
			<ad-widget ng-if="$ctrl.authState.isCmDevDataSource()">
				<div uib-accordion-group class="" is-open="$ctrl.status.isFirstOpen"
				     is-disabled="$ctrl.status.isFirstDisabled">
					<uib-accordion-heading>
						<ad-widget-header icon="fa fa-envelope" title="הפצת קמפיין"></ad-widget-header>
					</uib-accordion-heading>
					<ad-widget-body>
						<ad-campaign-query search-params="$ctrl.campaignSearchParams"
						                   operation="'Search Campaign'"></ad-campaign-query>
					</ad-widget-body>
				</div>
			</ad-widget>

			<ad-widget>
				<div uib-accordion-group class="">
					<uib-accordion-heading>
						<ad-widget-header icon="fa fa-database" title="ביטול קמפיין"></ad-widget-header>
					</uib-accordion-heading>
					<ad-widget-body>
						<ad-query search-params="$ctrl.cancelAutoProcessSearchParams"
						          operation="'Cancel Campaign'"></ad-query>
					</ad-widget-body>
				</div>
			</ad-widget>
		</uib-accordion>
	</div>
</div>
<div class="row" ng-if="$ctrl.authState.isCmDevDataSource()">
	<div class="col-lg-6">
		<ad-servers-table data="$ctrl.ifsData" type="$ctrl.ifsDataType" control="$ctrl.ifsControl">
		</ad-servers-table>
	</div>
	<div class="col-lg-6">
		<ad-servers-table data="$ctrl.astroData" type="$ctrl.astroDataType" control="$ctrl.astroControl">
		</ad-servers-table>
	</div>
</div>


